
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                
                <div class="card-box">
                    <div class="card-body">
                
                        <h4 class="card-title">
                            Categorias
                        </h4>
                        <p class="card-description">
                            lista de Categorias
                        </p>
                        <p><a href="/app/admin/category/create"><button type="button" class="btn btn-success btn-sm">Cadastrar category</button></a></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nome</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$category"}
                                    <tr>
                                        <td>{$value.id_category}</td>
                                        <td class="limit-text-table">{$value.name}</td>
                                        <td><a href="/app/admin/category/{$value.id_category}"><button type="button" class="btn btn-primary btn-rounded btn-sm">Editar</button></a>
                                            <a href="/app/admin/category/{$value.id_category}/delete"><button type="button" class="btn btn-danger btn-rounded btn-sm">Excluir</button></a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
