<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>Cadastrar Marca</h4>
        </div>
        <div class="card-description">
            <p>Cadastrar nova marca</p>
        </div>
        <form action="/app/admin/brand/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Nome da marca</label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="logo">Logo</label>
                <input type="file" name="logo" id="logo"class="form-control">
                <img id="img" style="max-width: 300px;max-height: 100px">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Cadastrar</button>
        </form>
        
    </div>
</div>
<script>
    $(function(){
        $('#logo').change(function(){
            const file = $(this)[0].files[0]
            const fileReader = new FileReader()
            fileReader.onloadend = function(){
                $('#img').attr('src',fileReader.result)
            }
            fileReader.readAsDataURL(file)
        })
    })
</script>