<div class="card">
        <div class="card-body">
            <div class="card-title"><h4>Criar Categoria</h4></div>
        
        <div class="card-description">
            <p>Crie uma nova categoria</p>
        </div>
        <form action="/app/admin/category/create" method="post">
            <div class="form-group">
                <label for="">Nome da categoria: </label>
                <input type="text" name="name" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Cadastrar</button>
        </form>
    </div>
</div>