
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                
                <div class="card-box">
                    <div class="card-body">
                
                        <h4 class="card-title">
                            Produtos
                        </h4>
                        <p class="card-description">
                            lista de Produtos
                        </p>
                        <p><a href="/app/admin/product/create"><button type="button" class="btn btn-success btn-sm">Cadastrar produto</button></a></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nome</td>
                                        <td>Custo</td>
                                        <td>Venda</td>
                                        <td>Qtd</td>
                                        <td>Desconto</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$product"}
                                    <tr>
                                        <td>{$value.id_product}</td>
                                        <td class="limit-text-table">{$value.name}</td>
                                        <td>{$value.cost_value}</td>
                                        <td>{$value.sale_value}</td>
                                        <td>{$value.amount}</td>
                                        <td>{$value.promotion}</td>
                                        <td>
                                            <a href="/app/admin/product/{$value.id_product}"><button type="button" class="btn btn-primary btn-rounded btn-sm">Editar</button></a>
                                            <a href="/app/admin/product/photo/{$value.id_product}"><button type="button" class="btn btn-rounded btn-sm">Photo</button></a>
                                            <a href="/app/admin/product/{$value.id_product}/delete"><button type="button" class="btn btn-danger btn-rounded btn-sm">Excluir</button></a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
