
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                
                <div class="card-box">
                    <div class="card-body">
                
                        <h4 class="card-title">
                            Produtos
                        </h4>
                        <p class="card-description">
                            lista de Produtos
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nome</td>
                                        <td>Valor de custo</td>
                                        <td>Valor de venda</td>
                                        <td>Quantidade</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td>1</td>
                                        <td class="limit-text-table">Gabriel Oliveira De Souza </td>
                                        <td>426.45</td>
                                        <td>799.99</td>
                                        <td>12</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
