
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                
                <div class="card-box">
                    <div class="card-body">
                
                        <h4 class="card-title">
                            Fornecedores
                        </h4>
                        <p class="card-description">
                            lista de fornecedores
                        </p>
                        <p>
                            <a href="/app/admin/provider/create"><button type="button" class="btn btn-success btn-sm">Cadastrar fornecedor</button></a></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nome</td>
                                        <td>Email</td>
                                        <td>Telefone</td>
                                        <td>CNPJ</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$provider"}
                                    <tr>
                                        <td>{$value.id_provider}</td>
                                        <td class="limit-text-table">{$value.name}</td>
                                        <td class="limit-text-table">{$value.email}</td>
                                        <td>{$value.phone}</td>
                                        <td>{$value.cnpj}</td>
                                        <td>
                                            <a href="/app/admin/provider/{$value.id_provider}"><button type="button" class="btn btn-primary btn-rounded btn-sm">Editar</button></a>
                                            <a href="/app/admin/provider/{$value.id_provider}/delete"><button type="button" class="btn btn-danger btn-rounded btn-sm">Excluir</button></a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
