<div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Atualização de usuário</h4>
            </div>
            <div class="card-description">
                <p>Atualização de informaçoes do uśario</p>
            </div>

            <form action="/app/admin/user/{$user.id_user}/password" method="post">
                <div class="form-group">
                    <label for="">Senha:</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Salvar</button>
            </form>

        </div>
</div>