<div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Editar Fornecedor</h4>
            </div>
        
            <div class="card-description">
                <p>Edite um fornecedor</p>
            </div>
    
            <form action="/app/admin/provider/{$provider.id_provider}" method="post">
                <div class="form-group">
                    <label for="">Nome:</label>
                    <input type="text" class="form-control" name="name" value="{$provider.name}">
                </div>
    
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" class="form-control" name="email" value="{$provider.email}">
                </div>
    
                <div class="form-group">
                    <label for="">Telefone:</label>
                    <input type="text" name="phone" onkeyup="mascara( this, mtel );" maxlength="15" value="{$provider.phone}" class="form-control"/>
                </div>
    
                <div class="form-group">
                    <label for="">CNPJ:</label>
                    <input type="text" class="form-control" name="cnpj" id="cnpj" maxlength="14" value="{$provider.cnpj}">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Editar</button>
            </form>
        </div>
    </div>
    <script src="/js/jquery.mask.js"></script>
    <script>
    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }
    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }
    function mtel(v){
        v=v.replace(/\D/g,"");             //Remove tudo o que não é dígito
        v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
        v=v.replace(/(\d)(\d{4})$/,"$1-$2");    //Coloca hífen entre o quarto e o quinto dígitos
        return v;
    }</script>
    
    <script>
    $(function($){
       $("#cnpj").mask("99.999.999/9999-99");
    });
    </script>