
            <div class="card">

                    <div class="card-body">
                
                        <h4 class="card-title">
                            Usuários
                        </h4>
                        <p class="card-description"> lista de usuários</p>
                        <p><a href="/app/admin/user/create"><button type="button" class="btn btn-success btn-sm">Cadastrar usuário</button></a></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Nome</td>
                                        <td>Email</td>
                                        <td>Admin</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$user"}
                                    <tr>
                                        <td>{$value.id_user}</td>
                                        <td class="limit-text-table">{$value.name}</td>
                                        <td class="limit-text-table">{$value.email}</td>
                                        <td>{if="$value.status == 3"}Sim{else} Não{/if}</td>
                                        <td>
                                            <a href="/app/admin/user/{$value.id_user}"><button type="button" class="btn btn-primary btn-rounded btn-sm">Editar</button></a>
                                            <a href="/app/admin/user/{$value.id_user}/password"><button type="button" class="btn btn-dark btn-rounded btn-sm">Editar Senha</button></a>
                                            <a href="/app/admin/user/{$value.id_user}/delete"><button type="button" class="btn btn-danger btn-rounded btn-sm">Excluir</button></a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
